.container_profile {
  border-radius: 15px;
  padding: 20px;
  max-width: max-content;
  margin: 0 auto;
 display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.left_profile {

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 15px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.right_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  .container_btn{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    background: white;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
  }

}
