.header{
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
}
.header_group_btn{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  border-radius: 10px;
  background: white;
}

.header_logo{
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background: white;
}

.header_user{
  padding: 5px;
  cursor: pointer;
}