.container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: white;
  border-radius: 15px;
  padding: 15px;

  .btn{
    display: flex;
    justify-content: flex-end;
  }
}

.block_info{
  padding: 5px;
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 10px;
  border-bottom: 1px solid grey;

  .info{
    color: grey;
  }
}