.container {
    border-radius: 15px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.form_input {
    width: 100%;
}

.label_input {
    display: flex;
    flex-direction: column;
    width: 100%;
}