.btn {
    padding: 5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    transition: background-color ease-in 0.2s;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}