.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed black;
    border-radius: 8px;
    position: relative;
    opacity: 0.7;
}
.container:hover{
    opacity: 0.9;
}
.container_image{
    position: absolute;
    width: 50px;
    top: 10px;
    left: auto;
    z-index: -1;
}

.container input[type=file] {
    position: absolute;
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none
}

.container_label{
    text-align: center;
    padding: 85px 0 15px 0;
    display: block;
    width: 200px;
    cursor: pointer;
}
.show_image{
    cursor: pointer;

    .show_image_image{
        max-width: 600px;
        max-height: 600px;
        border-radius: 8px;
        object-fit: cover;
        &:hover{
            opacity: 0.5;
        }
    }
}